/* ===================== HEADER ====================== */

#wrapper-header{
	background: url('http://www.bortolot.com.br/area_restrita/imagens/gray.png') repeat-x 0 100px;
	background-color:#FFF;
	width: 100%;
	/*height: 124px;*/
}

#wrapper-header span.orange{
	background: url('http://www.bortolot.com.br/area_restrita/imagens/orange.jpg') no-repeat top left; 
	border-right: 2px solid transparent;
	display: block;
	position: absolute;
	*left: 0;
	width: 8px;
	height: 24px;
}

#wrapper-header ul {
	width: 990px;
	margin: 0 auto;
	padding: 3px 0 0 0;
	font-size: 13px;
	text-align: right;
	color: rgba(255, 255, 255, 0);
	background: url('http://www.bortolot.com.br/area_restrita/imagens/ic-logout.png') no-repeat 925px 5px; 
	}

#wrapper-header ul li a{
	color: #fff;
}

#header{
	width: 990px;
	height: 100px;
	margin: 0 auto;
	background: url('http://www.bortolot.com.br/area_restrita/imagens/v-header.jpg') no-repeat top right; 
}

#header h1{
	/*text-indent: -5000px;*/
	width: 250px;
	height: 100px;
	/*background: url('/img/adm/logo.png') no-repeat top right; */
}

