TABLE.tabcadpadrao
{
	border:2px solid #999999;
   background: #eee;
	font-family: bold Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
	font-weight: bold;
	
}

TABLE.labelcadpadrao
{
   background: #eee;
	font-family: bold Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
	font-weight: bold;
	
}

.titulorelatorio
{
	border:1px solid #999999;
	font-family: bold Arial, Helvetica, sans-serif;
	color: black;
	font-size: 13px;
	font-weight: bold;	
}

.descricaorelatorio
{
	border-bottom:1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	font-family: bold Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
}

TD.titulotabcad
{
	background: #f4f4f4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	font-size: 11pt;
	font-weight: bold;
	border-bottom: 1px solid #F2F2F2;
}

TD.barra
{
	border-bottom: 2px groove;
	background-color: #0071DD;
	font-size: 12px;
	height: 16px;
	line-height: 16px;
}

TD.barra_sem_linha
{
	background-color: #DCDEDE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

TD.fonte_menu A:LINK, TD.fonte_menu A:VISITED
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px	
}

TD.fonte_menu A:HOVER
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#FF0000;
}

TD.sub_menu_sel
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFD700;
}

TD.sub_menu_sel A:LINK, TD.sub_menu_sel A:VISITED
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #FFD700;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
}

TD.sub_menu_sel A:HOVER
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFD700;
}

TD.menup
{
	background-color: #005BB2;
	border: 1px #aaaaaa groove;
	font-size: 10pt;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 3px;
	padding-left: 9px;
	padding-right: 9px;
}

TD.menup A:LINK, TD.menup A:VISITED
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#005BB2;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px	
}

TD.menup A:HOVER
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#005BB2;
	font-size: 11px;
	color:#FF0000;
}

TD.menu_selec
{
	background-color:#0071DD;
	color: #FFD700;	
	font-size: 10pt;
	white-space: nowrap;
	vertical-align: bottom;
	padding: 3px;
	padding-left: 9px;
	padding-right: 9px;
}

TD.menu_selec A:LINK, TD.menu_selec A:VISITED
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #0071DD;
	color: #FFD700;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

TD.menu_selec A:HOVER
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#0071DD;
	font-size: 11px;
	color: #FFD700;
}

TD.link_sistema
{
	background:#cfdccf;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#3F8640;
	border:1px #aaaaaa solid;
	font-size:10pt;
	white-space:nowrap;
	vertical-align:bottom;
	padding:3px;
	padding-left:9px;
	padding-right:9px;
}

TD.link_sistema A:VISITED
{
	color: blue;
}

TD.detalhe_sistema
{
	background:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #8E8E8E;
	font-size: 8pt;
}

TD.fundo_campo
{
	background: #B3CAF4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-size: 9pt;
}

TD.fundo_campo2
{
/*	background: #B3CAF4;*/
   background: #B8C7DB;
	font-family: bold Arial, Helvetica, sans-serif;
	color: black;
	font-size: 11px;
	font-weight: bold;
}

TD.fundo_campo3
{
	/*	background: #B3CAF4;*/
	background: #ADC0D6;
	font-family: bold Arial, Helvetica, sans-serif;
	color: black;
	font-size: 11px;
	font-weight: bold;
}

TD.relat1
{
	background: #DFDFDF;
	font-family: bold Arial, Helvetica, sans-serif;
	color: black;
	font-size: 11px;
}

TD.relat1 A:HOVER
{
	color: green;
	text-decoration: underline;
}

TD.relat1 A:LINK, A:VISITED
{
	color: blue;
	text-decoration: underline;
}

TD.relat2
{
   background: #FFFFFF;
	font-family: bold Arial, Helvetica, sans-serif;
	color: black;
	font-size: 11px;
}

TD.relat2 A:HOVER
{
	color: green;
	text-decoration: underline;
}

TD.relatvermelho
{
	background: #FF8A8A;
	font-family: bold Arial, Helvetica, sans-serif;
	color: white;
	font-size: 11px;
}

TD.relatvermelho A:HOVER
{
	color: green;
	text-decoration: underline;
}

TD.relat2 A:LINK, A:VISITED
{
	color: blue;
	text-decoration: underline;
}

TD.titulo1
{
	background: #82A9EE;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #F0F8FF;
	font-size: 12pt;
	font-weight: bold;
}

TD.titulo2
{
	background: #F4F4F4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	padding: 5px;
	font-size: 10pt;
	font-weight: bold;
}

TD.titulo_cad
{
	/*background: #82A9EE;*/
   background: #96A9C7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #F0F8FF;
	font-size: 11pt;
	font-weight: bold;
}

TD.label_courier
{
	background: #DFDFDF;
	font-family: "Courier New", Courier, monospace;
	color: black;
	font-size: 12px;
}

TD.label_arial
{
	background: #DFDFDF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-size: 11px;
	font-weight: bold;
}

TD.aba_fechada
{
	background: #99ABCC;
	font-family: Arial, Helvetica, sans-serif;
	color: #EAEAEA;
	font-size: 12px;
	font-weight: bold;
	border-left: 2px outset;
	border-right: 2px outset;
	border-top: 2px outset;
	padding: 3px;
	cursor: hand;
}

TD.aba_aberta
{
   background: #B8C7DB;
	font-family: Arial, Helvetica, sans-serif;
	color: White;
	font-size: 12px;
	font-weight: bold;
	border-left: 2px outset;
	border-right: 2px outset;
	border-top: 2px outset;
	padding: 3px;
	cursor: hand;
}

TD.aba_desabilitada
{
	background: #E8E8E8;
	font-family: Arial, Helvetica, sans-serif;
	color: #9D9D9D;
	font-size: 12px;
	font-weight: bold;
	border-left: 2px outset;
	border-right: 2px outset;
	border-top: 2px outset;
	padding: 3px;
}

TD.link_comum
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:green;
	font-size:10pt;
	white-space:nowrap;
	vertical-align:bottom;
	padding:3px;
	padding-left:9px;
	padding-right:9px;
	text-decoration: underline;
}

TD.link_comum A:VISITED
{
	color: green;
}

TD.texto1
{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 13px;
	font-weight: bold;
}

TD.texto2
{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
	font-weight: bold;
}

TD.texto3
{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 11px;
	font-weight: bold;
}

TD.texto4
{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 12px;
}

TD.texto5
{
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	font-size: 10px;
}

.bordarelat
{
	border: 1px black solid;
}



TD.titulologin
{
	font-family:arial,helvetica,sans-serif;
	font-size:14px;
	font-weight: bold;
}

TABLE.tablogin 
{
	border: solid 2px #cccccc;
	background-color: #f3f3f3;
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
	line-height:14px;
	color:#000;
	text-decoration:none;
	border-radius: 10px;
}

div.cabecalho 
{
	background: #51565b;
	font: 1.3em Arial, Helvetica, sans-serif;
	color: white;
}

div.meio 
{
	background: #FFF;
	padding: 2px;
	font: 1.3em Arial, Helvetica, sans-serif;
	color: white;
}
