INPUT.input20
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 500;
	height : 18px;
	width : 20px;
	border: 1px solid Black;
}

INPUT.input30
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 500;
	height : 18px;
	width : 30px;
	border: 1px solid Black;
}

INPUT.input40
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 500;
	height : 18px;
	width : 40px;
	border: 1px solid Black;
}

INPUT.input50
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 500;
	height : 18px;
	width : 50px;
	border: 1px solid Black;
}

INPUT.input80
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 500;
	height : 18px;
	width : 80px;
	border: 1px solid Black;
}

INPUT.input150
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 500;
	height : 18px;
	width : 150px;
	border: 1px solid Black;
}

INPUT.input200
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 500;
	height : 18px;
	width : 200px;
	border: 1px solid Black;
}

INPUT.input220
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 500;
	height : 18px;
	width : 220px;
	border: 1px solid Black;
}

INPUT.input250
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 500;
	height : 18px;
	width : 250px;
	border: 1px solid Black;
}

INPUT.input300
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 500;
	height : 18px;
	width : 300px;
	border: 1px solid Black;
}

INPUT.input400cinza
{
	background: #DEDEDE;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 500;
	height: 18px;
	width: 400px;
	border: 1px solid #B2B2B2;
}

INPUT.input400
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 500;
	height : 18px;
	width : 400px;
	border: 1px solid Black;
}

INPUT.inputdesabilitado
{
	background: #DEDEDE;
	border: 1px solid #B2B2B2;
}

SELECT.select80
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 300;
	height : 18px;
	width : 80px;
	border: 1px solid Black;
}

SELECT.select60
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 300;
	height : 18px;
	width : 60px;
	border: 1px solid Black;
}

SELECT.select150
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 300;
	height : 18px;
	width : 150px;
	border: 1px solid Black;
}

SELECT.select200
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 300;
	height : 18px;
	width : 200px;
	border: 1px solid Black;
}

SELECT.select250
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 300;
	height : 18px;
	width : 250px;
	border: 1px solid Black;
}

SELECT.select270
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 300;
	height : 18px;
	width : 270px;
	border: 1px solid Black;
}

SELECT.select300
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 300;
	height : 18px;
	width : 300px;
	border: 1px solid Black;
}

SELECT.select400
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 300;
	height : 18px;
	width : 400px;
	border: 1px solid Black;
}

SELECT.select400size
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 300;
	width : 400px;
	border: 1px solid Black;
}

SELECT.select270size
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 300;
	width : 270px;
	border: 1px solid Black;
}

SELECT.select445
{
	background: #FFFFFF;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : 300;
	height : 18px;
	width : 445px;
	border: 1px solid Black;
}

SELECT.select300x138
{
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 146px;
	width: 300px;
	border: 1px solid;
}

SELECT.select250x118
{
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 118px;
	width: 250px;
	border: 1px solid;
}

SELECT.select400x118
{
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 118px;
	width: 400px;
	border: 1px solid;
}

INPUT.button18
{
	background-color: #D2D2C8;
	width: 18px;
	height: 16px;
	font-size: 7pt;
	color: #000000;
	font-weight: bold;
	border-style: solid;
	border-width: 1;
	border-color: #6C6C6C;
}

INPUT.button16
{
	background-color: #D2D2C8;
	width: 16px;
	height: 16px;
	font-size: 7pt;
	color: red;
	font-weight: bold;
	border-style: solid;
	border-width: 1;
	border-color: #6C6C6C;
}

INPUT.button50
{
	background-color: #D2D2C8;
	width: 50px;
	height: 16px;
	font-size: 7pt;
	color: #000000;
	font-weight: bold;
	border-style: solid;
	border-width: 1;
	border-color: #6C6C6C;
}

INPUT.button60
{
	background-color: #D2D2C8;
	width: 60px;
	height: 16px;
	font-size: 7pt;
	color: #000000;
	font-weight: bold;
	border-style: solid;
	border-width: 1;
	border-color: #6C6C6C;
}

INPUT.button80
{
	background-color: #D2D2C8;
	width: 80px;
	height: 18px;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	border-style: solid;
	border-width: 1;
	border-color: #6C6C6C;
}

INPUT.button100
{
	background-color: #D2D2C8;
	width: 100px;
	height: 18px;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	border-style: solid;
	border-width: 1;
	border-color: #6C6C6C;
}

INPUT.button120
{
	background-color: #D2D2C8;
	width: 120px;
	height: 18px;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	border-style: solid;
	border-width: 1;
	border-color: #6C6C6C;
}

INPUT.button140
{
	background-color: #D2D2C8;
	width: 140px;
	height: 18px;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	border-style: solid;
	border-width: 1;
	border-color: #6C6C6C;
}

INPUT.button165
{
	background-color: #D2D2C8;
	width: 165px;
	height: 18px;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	border-style: solid;
	border-width: 1;
	border-color: #6C6C6C;
}

INPUT.buttonupload
{ 
   border: #000000 1px solid; 
   color:  Navy 1px solid; 
   height: 18px; 
   background-color: #FFFFFF;
	width: 300px;
	font-size: 8pt;
}

INPUT.buttonsalvaupload
{
	background-color: #D2D2C8;
	width: 98px;
	height: 18px;
	font-size: 8pt;
   color: Navy 1px solid; 
   border: #000000 1px solid; 
}

TEXTAREA.textarea400
{
	background: #FFFFFF;
	border: 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 500;
	height: 94%;
	width: 400px;
}

TEXTAREA.textarea530
{
	background: #FFFFFF;
	border: 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 500;
	height: 100%;
	width: 530px;
}

TEXTAREA.textareaAuto
{
	background: #FFFFFF;
	border: 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 500;
	height: 100%;
	width: 100%;
}
