/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/10/2013, 22:23:54
    Author     : Samuel
*/

html, body {
    height: 100%;
}

#saveForm {
position: relative;
top: 0px;
left: 0px;
}
#saveForm1 {
position: relative;
top: 0px;
left: 400px;
}

#all {
    margin-top: 40px;
}

#header {
    height: 500px;
    padding-bottom: 35px;
}

#content {
    margin-top: 20px;
}

.no-margin {
    margin:0px!important;
}

#wrapper, #sidebar {
    min-height:500px;
}

#sidebar {
    padding-left: 15px;
}

.body-postagem {
    padding: 10px;
    margin-bottom: 20px;
}

.bordered {
    border-bottom-color: rgb(212, 212, 212);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(212, 212, 212);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(212, 212, 212);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(212, 212, 212);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
}

.titulo-postagem, .subtitulo-postagem, .titulo-artigo {
    margin: 0px;
}

.subtitulo-postagem {
    color: #990000;
}
.img-postagem, .img-destaque {
    height: 200px;
}

.texto-curto-postagem {
    min-height: 200px;
}

.text-justify {
    text-align: justify;
}

.divider2 {
    margin: 5px 0px 10px 0px;
    border-top-color: #ccc;
    border-bottom-color: #f2f2f2;
}

.divider3 {
    margin: -5px 0px 10px 0px;
    border-top-color: #ccc;
    border-bottom-color: #f2f2f2;
}

.modulo {
    margin-bottom: 20px;
    padding: 0px 10px;
}

.titulo-modulo {
    margin: 0px;
}

.img-perfil {
    width: 120px;
    height: 100px;
    float: left;
    margin-right: 10px;
    padding: 3px;
    border: 1px solid #ccc;
}

.titulo-artigo-destaque {
    font-size: 18px;
    margin: 0px;
}

.img-destaque-artigo-destaque {
    height: 80px;
}

.text {
    color: #333;
}

.text:hover {
    color: #333;
    text-decoration: none;
}

.texto-artigo {
    margin-top: 20px;
}

.texto-artigo p {
    text-align: justify;
    margin-bottom: 20px;
}

#footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    height:35px;
}

.img-slider {
    width: 100%;
    max-height: 300px;
}